# .env

# Security - Replace with a real secret string
APP_JWT_SECRET=<YOUR_SECRET>

# Database Credentials
POSTGRES_USER=<YOUR_USERNAME>
POSTGRES_PASSWORD=<YOUR_PASSWORD>
POSTGRES_AUTH_DB=<YOUR_DB_NAME>
POSTGRES_APPOINTMENT_DB=<YOUR_DB_NAME>

# Spring Profile
SPRING_PROFILE=stand